* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
height: 100%;
width: 100%;
background-color:#E2E8F0 ;

}

.main-div{
 
 background-color: aliceblue;
 height:40vmax ;
 width:60vmax;
margin: 2vw 23vw;
padding: 9vw 12vw;
}
h1{
  font-family: "Merriweather", sans-serif;
  font-weight: bolder;
  font-style: normal;
font-size:1.8vw ;
  line-height: 2rem;
  display: block;

  color: #0F172A;
}
.main-div span{
  font-size:2vmax ;
  line-height: 0.3vmax;
margin : 0 6vw;
}
.img-div{
  padding-bottom: 32px;
  display: flex;
 
  font-size: 2vw;
  
}
.star{
  height: 5vmax;
 width: auto;
 object-fit: cover;
 display: flex;
 margin: 3px 0.6vw;
}

h3{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vmax;
  color: #374151;
  max-width: 700px;
  height: 100px;
  display: block;
  margin-top: 1.5vmin;
}
@media (max-width:780px) {
  .main-div{
    font-size: 1vw;
   background-color: aliceblue;
   height:75vmax;
   width: 60vmax;
  margin: 7vw 14vw;
  padding: 15vw 9vw;
  position: relative;
  }
 .main-div h1{
font-size: 2vw;
padding:0 5.5vw;
line-height: 1.7rem;
padding:0 5vw;
 }
 
 .main-div  h1 span{
  font-size: 2vw;
  display: block;
  padding:0 5.5vw;
  line-height: 0.7rem;
width: 100%;
  margin: 1vw 3vw;
 
 } 
 .img-div{
  display: flex;
  

 }
 .img-div img{
 height: 5vmax;
 width: auto;
 object-fit: cover;
 display: flex;
 margin: 1vw;
 }
 
 .result{
  padding-top: 6vw;
  font-size: 3vw;
 }
}
/* write your CSS here */
